.all {
  padding-top: 10px;
}
.shrayaCarousel {
  border: 1px solid lightgrey;
  position: relative;
  width: 100%;
  height: 60vh;
  box-sizing: border-box;
  margin: 0, auto;
  padding: 0;
  display: flex;
  flex-flow: inherit;
  align-items: center;
  overflow: hidden;
}

.slide {
  position: relative;
  border-right: 1px solid lightgrey;
  min-width: 175px;
  height: 65%;
  transition: 0.10s;
  margin: 0;
  padding: 25px;
  left: 30px;
}

.information {
  position: relative;
  align-self: center;
  margin: 0;
  padding: 10px;
}

.title {
  position: absolute;
  width: 100%;
  height: 60vh;
  box-sizing: border-box;
}

#left {
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 60px;
}

#right {
  right: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 60px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.bottom {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.information:hover .image {
  opacity: 0.3;
}

.information:hover .bottom {
  opacity: 1;
}

.hover {
  background-color: #cccecc;
  color: black;
  font-size: 13px;
  padding: 10px 43px;
}